# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Chrome & Puppeteer Data
chrome_data/
cups_test.pdf

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and sensitive keys
.env
.env.local
.env.*.local
*.pem
*.key
